<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Laporan</title>
<div th:replace="style :: style(active=${active})">
</div>

</head>
<body>
<div th:replace="header :: header(active=${active})">
</div>

<div class="container-md">	
<div class="my-4 p-8 bg-body rounded shadow-md">
<a th:href="@{'/laporan/add/'}" class="btn btn-primary btn-sm" tabindex="-1" role="button"><i class="fa fa-plus"></i> Add Laporan</a>
<a th:href="@{'/laporan/print/'}" class="btn btn-success btn-sm" tabindex="-1" role="button" ><i class="fa fa-print"></i> Print </a>
<p> </p>

<div class="table-responsive">
<table class="table table-light table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Kejadian</th>
      <th scope="col">Alamat</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="laporan : ${listLaporan}">
      <th scope="row" th:text="${laporan.id}"></th>
      <td th:text="${laporan.nama}"></td>
      <td th:text="${laporan.kejadian}"></td>
      <td th:text="${laporan.alamat}"></td>
      <td th:switch="${laporan.status}">
    	<span th:case='0'>Pending</span>
    	<span th:case='1'>Approve</span>
    	<span th:case='2'>Reject</span>
      </td>
      <td>
		<a th:href="@{/laporan/update/{id}(id=${laporan.id})}"  class="btn btn-warning btn-sm" tabindex="-1" role="button" ><i class="fa fa-warning" ></i> Update </a>
   		<a th:href="@{/laporan/delete/{id}(id=${laporan.id})}"  class="btn btn-danger btn-sm" tabindex="-1" role="button" ><i class="fa fa-danger" ></i> Delete </a>
	  </td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
</div>

<div th:replace="script :: script(active=${active})">
</div>

</body>
</html>