<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Laporan</title>
<div th:replace="style :: style(active=${active})">
</div>

</head>
<body>
<div th:replace="header :: header(active=${active})">
</div>

<div class="container-md">	
<div class="my-4 p-8 bg-body rounded shadow-md">
<div sec:authorize="hasRole('ROLE_ADMIN')">
<a style="" th:href="@{'/laporan/add/'}" class="btn btn-primary btn-sm" tabindex="-1" role="button" ><i class="fa fa-plus"></i> Add </a>
<a style="" th:href="@{'/laporan/print/'}" class="btn btn-success btn-sm" tabindex="-1" role="button" ><i class="fa fa-print"></i> Print </a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
<a style="" th:href="@{'/laporan/add/'}" class="btn btn-primary btn-sm" tabindex="-1" role="button" ><i class="fa fa-plus"></i> Add </a>
</div>
<p> </p>

<div class="table-responsive">
<table class="table table-light table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Kejadian</th>
      <th scope="col">Alamat</th>
      <th scope="col">Status</th>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
      <th scope="col">Action</th>
      </div>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="laporan : ${listLaporan}">
      <th scope="row" th:text="${laporan.id}"></th>
      <td th:text="${laporan.nama}"></td>
      <td th:text="${laporan.kejadian}"></td>
      <td th:text="${laporan.alamat}"></td>
      <td th:switch="${laporan.status}">
    	<span th:case='0'>Pending</span>
    	<span th:case='1'>Approve</span>
    	<span th:case='2'>Reject</span>
      	<div th:switch="${laporan.status}">
   			<div th:case = '0'>
     	<span><a th:href="@{/laporan/approve/{id}(id=${laporan.id})}"  class="btn btn-success btn-sm" tabindex="-1" role="button" ><i class="fa fa-check" ></i> Approve </a></span>
        <span><a th:href="@{/laporan/reject/{id}(id=${laporan.id})}"  class="btn btn-danger btn-sm" tabindex="-1" role="button" ><i class="fa fa-ban" ></i> Reject </a></span>
      		</div>
        	<div th:case = '1'>
       		</div>
        	<div th:case = '2'>
       		</div>
      </td>
    <div sec:authorize="hasRole('ROLE_ADMIN')">    
      <td>
		<a th:href="@{/laporan/update/{id}(id=${laporan.id})}"  class="btn btn-warning btn-sm" tabindex="-1" role="button" ><i class="fa fa-warning" ></i> Update </a>
   		<a th:href="@{/laporan/delete/{id}(id=${laporan.id})}"  class="btn btn-danger btn-sm" tabindex="-1" role="button" ><i class="fa fa-trash" ></i> Delete </a>
   		</div>
	  </td>
	</div>
    </tr>
    
  </tbody>
</table>
</div>
</div>
</div>

<div th:replace="script :: script(active=${active})">
</div>

</body>
</html>