<div th:fragment="header">

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{'/dashboard'}">Juaracoding</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:attr="class=${active == 0 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/dashboard'}">Dashboard</a>       
        <a th:attr="class=${active == 1 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/admin/view/'}">Admin</a>       
        <a th:attr="class=${active == 2 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/laporan/view/'}">Proses Laporan </a>
        <a th:attr="class=${active == 3 ? 'nav-link active' : 'nav-link'}"   th:href="@{'/logout'}">Logout</a>
      </div>
      <div class="navbar-nav" sec:authorize="hasRole('ROLE_USER')">
        <a th:attr="class=${active == 0 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/dashboard'}">Dashboard</a>
        <a th:attr="class=${active == 2 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/laporan/add/'}">Tambah Laporan </a>
        <a th:attr="class=${active == 3 ? 'nav-link active' : 'nav-link'}"   th:href="@{'/logout'}">Logout</a>
      </div>
    </div>
  </div>
</nav>
</div>